@media screen and (max-width: 1080px) {
  .library .right .book-list ul li:not(.nothing) {
    width: calc((100% - ((var(--gap) / 2) * 3)) / 4);
  }

  .library.videos .right .book-list ul li:not(.nothing) {
    width: calc((100% - (var(--gap) / 2)) / 2);
  }

  .library.favorite li.add-contents .btn {
    font-size: 1.4rem;
  }

  .myLevel .flex li {
    width: calc((100% - 16px) / 5);
  }

  .reward .badge-list {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}

@media screen and (max-width: 920px) {
  .myprofile.edit > .con .right .box .chara .flex li {
    width: calc((100% - 12px) / 4);
  }

  .mypage.myhistory .right .history-list li .text .btn-noStyle {
    position: static;
  }

  .reward .badge-list {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media screen and (max-width: 768px) {
  .wrap:has(> .reward.rewardDetail) > .reward.rewardDetail {
    padding: 32px 0 36px;
  }

  .reward.rewardDetail .con {
    height: calc(100dvh - 152px - env(safe-area-inset-bottom));
    padding-top: 0;
  }

  .reward.rewardDetail > .title {
    width: 56%;
    margin-bottom: 24px;
  }

  .reward.rewardDetail > .box {
    width: 75%;
    max-width: 390px;
    padding: 24px 12px;
    border-radius: 20px;
  }

  .reward.rewardDetail .chara-name {
    font-size: 2.6rem;
  }

  .reward.rewardDetail > .btn-wrap {
    width: 69%;
    max-width: 356px;
  }

  .popup-box:not(.book-info) > .btn-wrap {
    flex-direction: column;
  }

  .con:has(.todays-book) {
    display: block;
  }

  .wrap:has(> .library.assignment:not(.detail)) {
    height: auto;
  }

  .library.assignment > .con {
    display: block;
  }

  .library .right .book-list ul li:not(.nothing) {
    width: calc((100% - ((var(--gap) / 2) * 2)) / 3);
  }

  .library.videos .color-box {
    height: auto;
  }

  .library.books .color-box > .flex {
    grid-template-areas:
      "image title"
      "image description";
  }

  .library.videos .color-box .book-list ul {
    flex-direction: row;
    overflow-y: hidden;
  }

  .library.videos .color-box .book-list ul li {
    flex-shrink: 0;
    width: 240px;
  }

  .library.videos .color-box .book-list ul li .btn.btn-noStyle {
    display: block;
  }

  .library.videos .color-box .book-list ul li .btn.btn-noStyle .content-thumb img {
    width: 100%;
  }

  .library.assignment .con {
    padding: 0;
  }

  .myprofile .my-interesting ul li {
    width: calc((100% - 18px) / 4);
  }

  .myprofile .quick-stats ul {
    flex-direction: column;
    gap: 2px;
  }
  .myprofile .quick-stats li {
    flex-direction: row;
    justify-content: space-between;
    min-height: auto;
  }

  .myprofile .quick-stats li span {
    font-size: 1.6rem;
  }

  .myprofile .quick-stats li span br {
    display: none;
  }

  .mypage.myprofile.edit > .con {
    flex-direction: column;
    gap: 48px;
  }

  .mypage.myprofile.edit > .con > div.left,
  .mypage.myprofile.edit > .con .right {
    position: relative;
    width: 100%;
  }

  .mypage.myprofile.edit > .con .left::before {
    content: "";
    position: absolute;
    bottom: -24px;
    width: 100%;
    height: 1px;
    background-color: rgb(var(--color-border));
  }

  .myLevel .flex li {
    width: calc((100% - 20px) / 6);
  }

  .mypage.myprofile.edit > .con .box .myLevel .flex li span {
    font-size: 1.3rem;
  }

  .mypage.myprofile.edit .color-box.calendar {
    position: relative;
    margin-bottom: 48px;
  }

  .mypage.myhistory .color-box.calendar::before {
    content: "";
    position: absolute;
    bottom: -24px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgb(var(--color-border));
  }

  .mypage.myhistory .color-box.calendar .calendar-body ul.date li {
    min-height: auto;
    padding: 6px;
    font-size: 1.4rem;
  }

  .mypage.myhistory .right .history-read {
    flex-direction: row;
  }

  .mypage.myhistory .right .history-read li {
    width: 100%;
    align-items: center;
  }

  .popup.option {
    max-width: inherit;
    border-radius: 0;
  }

  .reward .badge-list {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .reward .badge-list .badge-img {
    width: 120px;
  }

  .reward .tab-contents > div:last-child .badge-list .badge-img {
    width: 84px;
  }

  .reward.rewardDetail .btn-wrap {
    flex-direction: column;
  }

  .reward.rewardDetail .btn-wrap .btn {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 560px) {
  .library.favorite ul li:not(.nothing) {
    width: calc((100% - 16px) / 3);
  }

  .myprofile .my-interesting ul li {
    width: calc((100% - 12px) / 3);
  }

  .myLevel .flex li {
    width: calc((100% - 12px) / 4);
  }

  .reward .badge-list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (max-width: 420px) {
  .library .right .book-list ul li:not(.nothing) {
    width: calc((100% - 8px) / 2);
  }

  .library.assignment .tab-wrap ul {
    flex-wrap: wrap;
  }

  .library.assignment .tab-wrap ul li {
    width: 50%;
  }

  .library.favorite li.add-contents .btn {
    position: relative;
    justify-content: center;
    text-align: center;
    font-size: 1.8rem;
  }

  .library.favorite li.add-contents .btn br {
    display: none;
  }

  .library.favorite li.add-contents .btn img {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    mix-blend-mode: multiply;
  }

  .myprofile .my-interesting ul li {
    width: calc((100% - 6px) / 2);
  }

  .chara .flex li {
    width: calc((100% - 8px) / 3);
  }

  .mypage.myhistory .right .history-read {
    flex-direction: column;
    margin-bottom: 24px;
  }

  .mypage.myhistory .right .history-read li {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .mypage.myhistory .right .history-read li .title {
    width: 100%;
  }

  .mypage.myhistory .right .history-read li dl {
    width: calc((100% - 4px) / 2);
  }

  .mypage.myhistory .right .history-list li .content-thumb img {
    width: 72px;
  }

  .reward .tab-wrap li .btn {
    font-size: 1.4rem;
  }

  .reward .tab-contents > div:last-child .badge-list li a {
    flex-direction: column;
  }

  .reward .tab-contents > div:last-child .badge-list li a .badge-img {
    width: 54px;
    height: 54px;
  }

  .reward .tab-contents > div:last-child .badge-list li a .badge-name {
    text-align: center;
    margin-bottom: 12px;
  }

  .reward .tab-contents > div:last-child .badge-list div {
    justify-content: space-between;
    width: 100%;
  }

  .reward .tab-contents > div:last-child .badge-list li a .detailList {
    margin-bottom: 12px;
  }

  .reward .tab-contents > div:last-child .badge-list li a .detailList .badge-wrap {
    width: auto;
  }

  .reward .tab-contents > div:last-child .badge-list li a .detailList .badge-wrap:not(:last-child)::after {
    display: none;
  }
}
