/* home */
.wrap:has(.home) {
  padding-top: 20px;
}

/** notice area **/
.notice-wrap {
  display: flex;
  align-items: center;
  gap: var(--gap);
  margin-bottom: 20px;
  padding: 12px;
  border-radius: 20px;
  border: 1px solid rgb(var(--color-white));
  background: linear-gradient(rgb(var(--color-white) / 0), rgb(var(--color-white) / 0.4));
  box-shadow: 0px 6px 10px rgb(var(--color-main) / 0.3);
}

.notice-wrap:not(.act) {
  display: none;
}

.notice-wrap.animating {
  overflow: hidden;
}

.notice-wrap .thumb {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  background-color: rgb(var(--color-white));
  border-radius: 100px;
}

.notice-wrap .thumb img {
  transform-origin: 50% 10%;
  animation-name: ring;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes ring {
  0% {
    transform: rotate(0deg);
  }

  6% {
    transform: rotate(-5deg);
  }

  13% {
    transform: rotate(10deg);
  }

  21% {
    transform: rotate(-16deg);
  }

  29% {
    transform: rotate(18deg);
  }

  37% {
    transform: rotate(-12deg);
  }

  44% {
    transform: rotate(6deg);
  }

  50%,
  100% {
    transform: rotate(0deg);
  }
}

.notice-wrap .inner {
  width: 100%;
}

.notice-wrap .inner h2 {
  font-size: 1.3rem;
  color: rgb(var(--color-font-gray));
}

.notice-wrap .inner p {
  font-size: 1.3rem;
}

.notice-wrap .inner p span {
  color: rgb(var(--color-main));
}
/** notice area end **/

/** todays book **/
.con:has(.todays-book) {
  display: flex;
  gap: var(--gap);
  margin-bottom: 15px;
}

.todays-book {
  display: flex;
  gap: var(--gap);
  width: 100%;
  padding: 14px;
  padding-bottom: 36px;
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  background: linear-gradient(rgb(var(--color-gray) / 1), rgb(var(--color-BG) / 1) 80%);
}

.todays-book .thumb {
  width: 210px;
  perspective: 900px;
  overflow: visible;
}

.todays-book .thumb .book {
  transform: rotateY(0deg) rotateX(0deg);
  overflow: visible;
  border-radius: 0;
  perspective: 100px;
  box-shadow: 0px 0px 10px rgb(var(--color-main) / 0.3);

  animation-name: rotateBack;
  animation-delay: 0.5s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes rotateBack {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(20deg);
  }
}

.todays-book .thumb .book img {
  width: 100%;
}

.todays-book .thumb .book::after {
  content: "";
  position: absolute;
  transform: translateY(-50%) rotateY(-30deg);
  top: 50%;
  left: -12px;
  width: 12px;
  height: 100%;
  background: #fafafa;
  box-shadow: inset 0px 40px 40px rgba(0, 0, 0, 0.4);
  transform-origin: right center;
  opacity: 0;

  animation-name: rotatebook-back;
  animation-delay: 0.5s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes rotatebook-back {
  0% {
    opacity: 0;
    transform: translateY(-50%) rotateY(-30deg);
  }

  100% {
    opacity: 1;
    transform: translateY(-50%) rotateY(-20deg);
  }
}

.todays-book .inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.todays-book .inner p:first-child {
  color: rgb(var(--color-font-gray));
  font-size: 1.3rem;
  font-weight: 700;
}

.todays-book .inner .book-name {
  margin-bottom: 8px;
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 1.4;
}

.todays-book .inner .meta-data {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.todays-book .inner .meta-data li {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  font-size: 1.3rem;
}

.todays-book .inner .meta-data li:not(:last-child)::before {
  content: "";
  position: absolute;
  transform: translate(0, -50%);
  top: 50%;
  right: -6px;
  width: 4px;
  height: 4px;
  border-radius: 100px;
  background-color: rgb(var(--color-main) / 1);
}

.todays-book .inner .btn {
  margin-top: auto;
}
/** todays book end **/

/** user detail **/
.user-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 54px;
  padding: 14px;
  border-radius: var(--radius);
  background-color: rgb(var(--color-white));
}

.user-detail .user-data-wrap {
  padding: 10px;
  border-radius: 6px;
  background-color: #e8e8fe;
}

.user-detail .user-data-wrap .inner {
  width: 100%;
}

.user-detail .user-data-wrap .inner .level {
  position: relative;
  display: flex;
  gap: 2px;
  align-items: center;
}

.user-detail .user-data-wrap .inner .level p:first-child {
  color: rgb(var(--color-font-gray));
  font-size: 1.3rem;
}

.user-detail .bubble {
  display: none;
}

.user-detail .user-data-wrap .inner .btn-icnOnly {
  width: 32px;
  height: 32px;
  margin-left: auto;
}

.user-detail .user-data-wrap .inner .user-name {
  font-size: 1.8rem;
  font-weight: 700;
}

.user-detail .range {
  position: relative;
  height: 4px;
  margin-top: 12px;
  margin-bottom: 24px;
  border-radius: 100px;
  background-color: rgb(var(--color-main) / 0.2);
}

.user-detail .range .rail {
  position: relative;
  width: 50%;
  height: 100%;
  border-radius: 100px;
  background-color: rgb(var(--color-main));
}

.user-detail .range .rail img {
  position: absolute;
  transform: translate(0, -50%);
  top: 50%;
  right: -18px;
  width: 36px;
  height: 36px;
}

.user-detail .books-count {
  display: flex;
  justify-content: center;
  text-align: center;
}

.user-detail .books-count li {
  width: 100%;
}

.user-detail .books-count li p {
  color: rgb(var(--color-font-gray));
  font-size: 1.3rem;
}

.user-detail .books-count li p.count {
  margin-top: 5px;
  font-size: 1.8rem;
  color: rgb(var(--color-font));
  font-weight: 700;
}

.user-detail .books-count li:nth-child(2) {
  position: relative;
}

.user-detail .books-count li:nth-child(2)::before,
.user-detail .books-count li:nth-child(2)::after {
  content: "";
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  width: 1px;
  height: 20px;
  background-color: rgb(var(--color-border));
}

.user-detail .books-count li:nth-child(2)::before {
  left: 0;
}

.user-detail .books-count li:nth-child(2)::after {
  right: 0;
}
/** user detail end **/

/** book list **/
.home .full-width {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #e3e3fd;
  padding: 20px 15px;
  padding-bottom: 36px;
}

.home .full-width .con {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.home .full-width .con .book-list {
  padding-bottom: calc(var(--gap) * 1.5);
  margin-bottom: calc(var(--gap) * 1.5);
}

.home .full-width .con .book-list:not(:last-child) {
  border-bottom: 1px solid rgb(var(--color-border));
}

.home .full-width .con .book-list:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
}

.home .book-list .list-name {
  margin-bottom: 4px;
  font-size: 1.3rem;
  color: rgb(var(--color-font-gray));
  font-weight: 700;
}
/** book list end **/

/** assign list **/
.home .assigned-list {
  position: relative;
  margin: 15px 0;
  border-top: px solid rgb(var(--color-white));
  border-bottom: 1px solid rgb(var(--color-main) / 0.4);
  padding: 16px;
  border-radius: 4px;
  background: linear-gradient(rgb(var(--color-main) / 0.2), rgb(var(--color-main) / 0.1));
}

.home .assigned-list .list-name {
  color: rgb(var(--color-main));
}

.wrap.lv1_2 .home .assigned-list .content-thumb {
  --color-shadow: 255 60 124;
}

.wrap.lv3_8 .home .assigned-list .content-thumb {
  --color-shadow: 94 16 172;
}

.wrap.lv9_14 .home .assigned-list .content-thumb {
  --color-shadow: 202 96 0;
}

.wrap.lv15_20 .home .assigned-list .content-thumb {
  --color-shadow: 22 145 83;
}

.wrap.lv21_26 .home .assigned-list .content-thumb {
  --color-shadow: 0 124 183;
}

.wrap.lv27_30 .home .assigned-list .content-thumb {
  --color-shadow: 255 151 32;
}
/** assign list end **/
/* home end */

/* library */
.wrap:has(> .library.assignment:not(.detail)) {
  height: 100dvh;
}

.library.assignment {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.library.assignment > .con {
  flex: 1;
  display: flex;
  align-items: flex-start;
  gap: var(--gap);
  min-height: 0;
}

.library .color-box {
  position: relative;
  margin-bottom: 36px;
  padding: 14px;
  overflow: hidden;
  border-radius: var(--radius);
  background-color: rgb(var(--color-gray));
}

.library .color-box .flex {
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.library .color-box .flex .descript-wrap {
  width: 100%;
}

.library .color-box > .flex {
  display: grid;
  grid-template-columns: auto minmax(0, 1fr);
  grid-template-areas:
    "image title"
    "description description";
  align-items: start;
  margin-bottom: 0;
}

.library .color-box > .flex .content-thumb {
  grid-area: image;
}

.library .color-box > .flex .inner {
  grid-area: title;
}

.library .color-box > .flex .descript-wrap {
  grid-area: description;
}

.library .color-box ul li {
  position: relative;
  padding-left: 8px;
  line-height: 1.2;
  font-size: 1.4rem;
}

.library .color-box ul li::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  width: 4px;
  height: 4px;
  border-radius: 100px;
  background-color: rgb(var(--color-font));
}

.library .right .book-list ul {
  flex-wrap: wrap;
  row-gap: calc(var(--gap) * 2);
  overflow: inherit;
}

.library .right .book-list ul li:not(.nothing) {
  width: calc((100% - ((var(--gap) / 2) * 5)) / 6);
}

.library .right .book-list ul li.next button {
  pointer-events: none;
}

.library .right .book-list ul li.next .content-thumb::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  background-image: url(/public_html/resource/images/img-next.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 84px;
}

.library .right .book-list ul li :where(.btn-noStyle, .content-thumb, img) {
  width: 100%;
}

.library .flex:has(.search-wrap) {
  gap: 4px;
}

/** phonics **/
.library.phonics .myPhonics {
  background-color: #8dc6ff;
}

.library.phonics .myPhonics::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  width: 44px;
  height: 8px;
  background-image: url(/public_html/resource/images/img-myPhonicsDECO02.svg);
  z-index: 0;
}

.library.phonics .myPhonics > * {
  position: relative;
  z-index: 1;
}

.library.phonics .myPhonics::after {
  content: "";
  position: absolute;
  bottom: 0px;
  right: 1px;
  width: 141px;
  height: 80px;
  background-image: url(/public_html/resource/images/img-myPhonicsDECO01.svg);
  z-index: 0;
}

.library.phonics .myPhonics .content-thumb {
  position: relative;
  height: 80px;
  box-shadow: none;
}

.library.phonics .myPhonics .content-thumb::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(rgb(141 198 255 / 0), rgb(141 198 255 / 0.8), rgb(141 198 255));
}

.library.phonics .myPhonics .btn-wrap {
  position: relative;
  justify-content: center;
}

.library.phonics .myPhonics .btn-wrap .btn.btn-noStyle {
  font-size: 1.4rem;
}

.library.phonics .myPhonics .btn-wrap .btn.btn-noStyle.act img {
  transform: rotate(180deg);
}

.library.phonics .myPhonics .btn-wrap .btn.btn-noStyle img {
  transition-property: transform;
  transition-duration: var(--duration);
}

.library.phonics .myPhonics .content-thumb {
  transition-property: height;
  transition-duration: var(--duration);
}

.library.phonics .myPhonics:has(.btn.btn-noStyle.act) .content-thumb {
  height: auto;
}

.library.phonics .myPhonics:has(.btn.btn-noStyle.act) .content-thumb::after {
  opacity: 0;
}

.library.phonics .myPhonics ul {
  display: flex;
  flex-direction: column;
  gap: 2px;
  height: 0;
  padding: 0;
  overflow: hidden;
  transition-property: height, padding-top, padding-bottom;
  transition-duration: var(--duration);
}

.library.phonics .myPhonics:has(.btn.btn-noStyle.act) ul {
  position: relative;
  height: auto;
  padding: 10px 0;
  z-index: 1;
}
/** phonics end **/

/** magazine **/
.library.magazine .graphic {
  width: 100%;
  margin-bottom: 15px;
  padding: 15px;
  background-image: url(/public_html/resource/images/img-magazineBG.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.library.magazine .graphic img {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}
/** magazine end **/

/** videos **/
.library.videos .color-box {
  height: 100%;
  background-image: url(/public_html/resource/images/img-videoRightBg.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.library.videos .color-box .inner {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.library.videos .color-box .inner > img {
  margin: 0 auto;
  margin-bottom: 12px;
}

.library.videos .color-box .book-list {
  height: 100%;
  overflow: auto;
}

.library.videos .color-box .book-list ul {
  flex-direction: column;
  margin-bottom: 0;
  padding-bottom: 0;
}

.library.videos .color-box .book-list ul li {
  padding-left: 0;
}

.library.videos .color-box ul li::before {
  display: none;
}

.library.videos .color-box .book-list ul .btn.btn-noStyle {
  display: flex;
  align-items: center;
  gap: 4px;
  color: rgb(var(--color-white));
}

.library.videos .color-box .book-list ul .btn.btn-noStyle .content-thumb {
  box-shadow: none;
  border-radius: 2px;
}

.library.videos .right .book-list ul li:not(.nothing) {
  width: calc((100% - var(--gap)) / 3);
}
/** videos end **/

/** favorite **/
.library.favorite li.add-contents .btn {
  display: flex;
  justify-content: space-between;
  gap: 4px;
  width: 100%;
  padding: 8px;
  aspect-ratio: 16 / 9;
  color: #5858ff;
  font-weight: 600;
  font-size: 2rem;
  background: linear-gradient(rgb(var(--color-white) / 0), rgb(var(--color-white) / 0.4));
  box-shadow: 0px 4px 8px rgb(var(--color-shadow));
  border-radius: 4px;
}

.library.favorite li.add-contents .btn img {
  width: 50%;
}

.library.favorite:has(.tab-wrap ul li:first-child.act) .btn-option {
  width: 0;
  overflow: hidden;
  pointer-events: none;
}
/** favorite end **/

/** Assignment **/
.library.assignment .con {
  flex-shrink: 1;
  display: block;
}

.library.assignment .data-wrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.library.assignment .data-wrap .title {
  font-weight: 700;
}

.library.assignment .data-wrap dl {
  display: flex;
  gap: 4px;
}

.library.assignment .data-wrap dl dt {
  color: rgb(var(--color-font-gray));
}

.library.assignment .box-list ul {
  display: flex;
  flex-wrap: wrap;
  gap: calc(var(--gap) / 2);
  width: 100%;
}

.library.assignment .box-list ul li:not(.nothing) {
  width: calc((100% - (var(--gap) / 2)) / 2);
}

.library.assignment .box-list ul li a {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 8px;
  border-radius: 12px;
  background-color: rgb(var(--color-white));
}

.library.assignment .box-list ul li .thumb img {
  width: 62px;
}

.library.assignment.detail .nav-top .con div {
  display: flex;
  flex-direction: row-reverse;
}

.library.assignment.detail .con .data-wrap {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background: linear-gradient(rgb(var(--color-white)), rgb(var(--color-white) / 0));
}

.library.assignment.detail .con .data-wrap .title {
  padding: 15px;
}

.library.assignment.detail .con .data-wrap dl {
  padding: 0px 15px;
}

.library.assignment.detail .con .tabIntab {
  padding: 15px;
}

.library.assignment.detail .con .tab-contents {
  padding: 0px 15px;
}

.library.assignment.detail .con .tab-contents ul {
  display: none;
  flex-direction: column;
  gap: 4px;
}

.library.assignment.detail .con .tab-contents ul.act {
  display: flex;
}

.library.assignment.detail .con .assignment-results > .tab-panel {
  display: none;
}

.library.assignment.detail .con .assignment-results > .tab-panel.act {
  display: block;
}

.library.assignment.detail .con .assignment-results > .tab-panel > ul {
  display: flex;
}

.library.assignment.detail .con .assignment-results .overall-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 8px;
}

.library.assignment.detail .con .assignment-results .overall-result span {
  font-size: 1.4rem;
  line-height: 1.2;
}

.library.assignment.detail .con .assignment-results .overall-result strong {
  font-size: 2.4rem;
  line-height: 1;
}

.library.assignment.detail .con .tab-contents ul li {
  position: relative;
  padding: 8px;
  border-radius: 10px;
  border-left: 10px solid rgb(var(--color-main));
  background-color: rgb(var(--color-white));
}

.library.assignment.detail .con .tab-contents ul li::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.library.assignment.detail .con .tab-contents ul li.correct {
  border-left: 10px solid #6ce0d3;
}

.library.assignment.detail .con .tab-contents ul li.correct::before {
  background-image: url(/public_html/resource/images/img-correct.svg);
}

.library.assignment.detail .con .tab-contents ul li.wrong {
  border-left: 10px solid #ff8f8f;
}

.library.assignment.detail .con .tab-contents ul li.wrong::before {
  background-image: url(/public_html/resource/images/img-wrong.svg);
}

.library.assignment.detail .con .tab-contents ul li p.num {
  margin-bottom: 5px;
  color: rgb(var(--color-font-gray));
}

.library.assignment.detail .con .tab-contents ul li .flex {
  gap: 5px;
  align-items: flex-start;
  margin-bottom: 10px;
  padding-right: 40px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(var(--color-border));
}

.library.assignment.detail .con .tab-contents ul li .flex:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 0;
}

.library.assignment.detail .con .tab-contents ul li .flex .ellipse {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 22px;
  border-radius: 100px;
  background-color: rgb(var(--color-font));
  font-size: 1.4rem;
  font-weight: 700;
  color: rgb(var(--color-white));
}

.library.assignment.detail .con .tab-contents ul li .flex .text {
  line-height: 1.4;
}

.library.assignment.detail .con .tab-contents ul li.correct .flex.answer {
  --color-font: 57 183 169;
}

.library.assignment.detail .con .tab-contents ul li.wrong .flex.answer {
  --color-font: 255 94 94;
}

.library.assignment.detail .con .tab-contents ul li .flex.answer .text {
  color: rgb(var(--color-font));
}

.library.assignment.detail .con .tab-contents ul.listening li {
  padding: 14px 8px;
}

.library.assignment.detail .con .tab-contents ul.bookReport li {
  border-left: 0;
}

.library.assignment.detail .con .tab-contents ul.bookReport li .flex {
  margin-bottom: 4px;
  padding-bottom: 0;
  border-bottom: 0;
}

.library.assignment.detail .con .tab-contents ul.bookReport li .userAnswer {
  margin-top: 10px;
  border-radius: 10px;
  padding: 10px;
  background-color: rgb(var(--color-main) / 0.1);
}

.library.assignment.detail .con .tab-contents ul.bookReport li .userAnswer p {
  font-size: 1.3rem;
  font-weight: 700;
}

.library.assignment.detail .con .tab-contents ul.bookReport li .flex .ellipse {
  background-color: rgb(var(--color-main) / 0.1);
  color: rgb(var(--color-font));
}

/** Assignment end **/
/* library end */

/* my papge */
/** my profile **/
.mypage.myprofile .user-detail {
  padding: 10px;
  background-color: #e8e8fe;
}

.mypage.myprofile .user-detail .user-data-wrap {
  margin-bottom: 10px;
  padding: 0;
  border-radius: 0;
  background-color: inherit;
  font-size: 1.4rem;
}

.mypage.myprofile .user-detail .user-data-wrap .user-mail {
  margin: 4px 0;
  color: rgb(var(--color-font-gray));
}

.mypage.myprofile .user-detail .user-data-wrap .btn-userSetting {
  width: 36px;
  height: 36px;
  margin-left: auto;
  margin-bottom: auto;
}

.mypage.myprofile .user-detail .dl-wrap {
  border-top: 1px solid rgb(var(--color-border));
}

.mypage.myprofile .user-detail .dl-wrap dl {
  padding: 6px;
}

.mypage.myprofile .user-detail .dl-wrap dl dt {
  color: rgb(var(--color-font-gray));
  font-size: 1.4rem;
}

.mypage.myprofile .user-detail .dl-wrap dl dd {
  font-weight: 700;
}

.mypage.myprofile .user-detail .btn-wrap .btn-noStyle {
  margin-left: auto;
  font-size: 1.4rem;
  color: rgb(var(--color-font-gray));
}

.mypage.myprofile > .con {
  display: block;
}

.mypage.myprofile .profile-section {
  margin-top: 20px;
}

.mypage.myprofile .profile-section-title {
  margin-bottom: 8px;
  color: rgb(var(--color-font-gray));
  font-size: 1.6rem;
  font-weight: 400;
}

.mypage.myprofile .profile-section-title small {
  margin-left: 4px;
  color: rgb(var(--color-border));
  font-size: inherit;
  font-weight: inherit;
}

.mypage.myprofile .my-interesting ul {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.mypage.myprofile .my-interesting ul li {
  --category-color: 109 122 157;
  display: flex;
  align-items: center;
  gap: 4px;
  width: 180px;
  min-height: 52px;
  padding: 8px 12px;
  border: 1px solid rgb(var(--category-color));
  border-radius: var(--radius);
  color: rgb(var(--category-color));
  font-size: 1.5rem;
}

.mypage.myprofile .my-interesting li img {
  display: none;
}

.mypage.myprofile .my-interesting li::before {
  content: "";
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  background-color: rgb(var(--category-color));
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
}

.mypage.myprofile .my-interesting li span {
  line-height: 1;
}

.mypage.myprofile .my-interesting li.category-school {
  --category-color: 255 80 91;
}

.mypage.myprofile .my-interesting li.category-school::before {
  -webkit-mask-image: url(/public_html/resource/images/icn-category-school.svg);
  mask-image: url(/public_html/resource/images/icn-category-school.svg);
}

.mypage.myprofile .my-interesting li.category-people {
  --category-color: 236 180 31;
}

.mypage.myprofile .my-interesting li.category-people::before {
  -webkit-mask-image: url(/public_html/resource/images/icn-category-people.svg);
  mask-image: url(/public_html/resource/images/icn-category-people.svg);
}

.mypage.myprofile .my-interesting li.category-art {
  --category-color: 27 179 225;
}

.mypage.myprofile .my-interesting li.category-art::before {
  -webkit-mask-image: url(/public_html/resource/images/icn-category-art.svg);
  mask-image: url(/public_html/resource/images/icn-category-art.svg);
}

.mypage.myprofile .my-interesting li.category-science {
  --category-color: 92 124 255;
}

.mypage.myprofile .my-interesting li.category-science::before {
  -webkit-mask-image: url(/public_html/resource/images/icn-category-science.svg);
  mask-image: url(/public_html/resource/images/icn-category-science.svg);
}

.mypage.myprofile .my-interesting li.category-health {
  --category-color: 218 103 230;
}

.mypage.myprofile .my-interesting li.category-health::before {
  -webkit-mask-image: url(/public_html/resource/images/icn-category-health.svg);
  mask-image: url(/public_html/resource/images/icn-category-health.svg);
}

.mypage.myprofile .profile-chart {
  width: 100%;
}

.mypage.myprofile .quick-stats ul {
  display: flex;
  gap: var(--gap);
}

.mypage.myprofile .quick-stats li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100px;
  padding: 14px;
  border-radius: 14px;
  background-color: #e8e8fe;
  text-align: center;
}

.mypage.myprofile .quick-stats li span {
  font-size: 1.8rem;
  line-height: 1.1;
}

.mypage.myprofile .quick-stats li strong {
  font-size: 1.8rem;
  font-weight: 400;
}

.mypage.myprofile .profile-trend {
  margin-bottom: 20px;
  padding: 18px;
  border-radius: 18px;
  background-color: rgb(var(--color-white));
}

.mypage.myprofile .trend-chart-wrap {
  width: 100%;
}
/* my profile end */

.mypage.myprofile.edit > .con {
  display: flex;
  flex-wrap: wrap;
  gap: calc(var(--gap) * 2);
  padding-top: 40px;
}

.mypage.myprofile.edit > .con > div.left {
  flex-shrink: 0;
  width: 360px;
}

.mypage.myprofile.edit > .con > div .box {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 36px;
  margin-bottom: 48px;
}

.mypage.myprofile.edit > .con > div .box:not(:last-child)::before {
  content: "";
  position: absolute;
  bottom: -24px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgb(var(--color-border));
}

.mypage.myprofile.edit > .con > div .box:last-child {
  margin-bottom: 0;
}

.mypage.myprofile.edit > .con .title {
  font-weight: 700;
  font-size: 1.8rem;
}

.mypage.myprofile.edit > .con .box label:not(.check-box) {
  display: block;
}

.mypage.myprofile.edit > .con .box .flex {
  gap: 4px;
}

.mypage.myprofile.edit > .con .box .flex label.check-box.pill:has(div)::before {
  display: none;
}

.mypage.myprofile.edit > .con .box .box-white {
  height: 0;
  overflow: hidden;
  margin-top: 0;
  padding: 0 9px;
  border-radius: 4px;
  background-color: rgb(var(--color-white));
  visibility: hidden;
  transition-property: height, margin-top, padding-top, padding-bottom, visibility;
  transition-duration: var(--duration);
  transition-timing-function: ease;
}

.mypage.myprofile.edit > .con .box .flex:has(> label:first-child > input:checked) + .box-white {
  height: auto;
  margin-top: 10px;
  padding-top: 9px;
  padding-bottom: 9px;
  visibility: visible;
}

.mypage.myprofile.edit > .con .box .box-white .check-box {
  padding: 8px 0;
}

.mypage.myprofile.edit > .con .right {
  width: calc(100% - 360px - (var(--gap) * 2));
}

.mypage.myprofile.edit .myLevel .flex {
  flex-wrap: wrap;
}

.mypage.myprofile.edit .myLevel .flex li {
  position: relative;
  width: calc((100% - 28px) / 8);
}

.mypage.myprofile.edit .myLevel .flex li button {
  transition-property: transform, opacity;
  transition-duration: var(--duration);
  width: 100%;
  aspect-ratio: 1 / 1;
  background-size: 100%;
  font-size: 1.8rem;
  font-weight: 600;
  color: rgb(var(--color-white));
  opacity: 0.8;
  transform: scale(0.8);
}

.mypage.myprofile.edit .myLevel .flex li.lv1_2 button {
  background-image: url(/public_html/resource/images/icn-level1-2.svg);
}

.mypage.myprofile.edit .myLevel .flex li.lv3_8 button {
  background-image: url(/public_html/resource/images/icn-level3-8.svg);
}

.mypage.myprofile.edit .myLevel .flex li.lv9_14 button {
  background-image: url(/public_html/resource/images/icn-level9-14.svg);
}

.mypage.myprofile.edit .myLevel .flex li.lv15_20 button {
  background-image: url(/public_html/resource/images/icn-level15-20.svg);
}

.mypage.myprofile.edit .myLevel .flex li.lv21_26 button {
  background-image: url(/public_html/resource/images/icn-level21-26.svg);
}

.mypage.myprofile.edit .myLevel .flex li.lv27_30 button {
  background-image: url(/public_html/resource/images/icn-level27-30.svg);
}

.mypage.myprofile.edit > .con .box .myLevel .flex li span {
  position: absolute;
  transform: translateX(-50%);
  bottom: 0px;
  left: 50%;
  display: flex;
  justify-content: center;
  width: auto;
  margin-bottom: 0;
  padding: 6px 12px;
  border-radius: 100px;
  background-color: #ff0000;
  color: rgb(var(--color-white));
  font-weight: 600;
}

.mypage.myprofile.edit .myLevel .flex li:has(span) button {
  opacity: 1;
  transform: scale(1);
}

.mypage.myprofile.edit .myLevel .flex li[class*="lv"] > button:disabled {
  background-image: url(/public_html/resource/images/icn-level-gray.svg);
  opacity: 0.5;
}

.mypage.myprofile.edit > .con > div.btn-wrap .btn {
  width: 100%;
  font-size: 2rem;
}
/** my profile end **/

/** my history **/
.mypage.myhistory .color-box.calendar {
  padding: 15px;
  border-radius: var(--radius);
  background-color: rgb(var(--color-gray));
}

.mypage.myhistory .color-box.calendar .calendar-head {
  justify-content: center;
  gap: 12px;
  font-size: 2rem;
  font-weight: 700;
}

.mypage.myhistory .color-box.calendar .calendar-head button {
  flex-shrink: 0;
  width: 42px;
  height: 42px;
  border-radius: 100px;
  background: linear-gradient(rgb(var(--color-white) / 0), rgb(var(--color-white) / 0.4));
  border-top: 1px solid rgb(var(--color-white));
  box-shadow: 0px 6px 10px rgb(var(--color-shadow));
}

.mypage.myhistory .color-box.calendar .calendar-head button:last-child img {
  transform: rotate(180deg);
}

.mypage.myhistory .color-box.calendar .calendar-body ul {
  display: flex;
  gap: 2px;
  flex-wrap: wrap;
  text-align: center;
}

.mypage.myhistory .color-box.calendar .calendar-body ul li {
  width: calc((100% - 12px) / 7);
  margin-top: 4px;
  color: rgb(var(--color-font-gray));
  font-size: 1.4rem;
}

.mypage.myhistory .color-box.calendar .calendar-body ul.date li {
  min-height: 52px;
  padding: 4px;
  border-radius: 4px;
  background-color: rgb(var(--color-white));
  font-size: 1.6rem;
  color: rgb(var(--color-font));
}

.mypage.myhistory .color-box.calendar .calendar-body ul.date li.prev-month {
  opacity: 0.6;
}

.mypage.myhistory .color-box.calendar .calendar-body ul.date li.act {
  background-color: rgb(var(--color-main) / 0.2);
  border: 1px solid rgb(var(--color-main));
}

.mypage.myhistory .right .history-read {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 12px;
}

.mypage.myhistory .right .history-read li {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 14px;
  border-radius: var(--radius);
  background-color: rgb(var(--color-gray));
}

.mypage.myhistory .right .history-read li .title {
  font-size: 1.4rem;
  color: rgb(var(--color-font-gray));
}

.mypage.myhistory .right .history-read li :where(dl, dt, dd) {
  display: flex;
  align-items: center;
  line-height: 1;
}

.mypage.myhistory .right .history-read li dl {
  gap: 4px;
}

.mypage.myhistory .right .history-read li dl dt span {
  display: inline-block;
  width: 65px;
}

.mypage.myhistory .right .history-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.mypage.myhistory .right .history-list li {
  position: relative;
  display: flex;
  align-items: center;
  gap: var(--gap);
  width: 100%;
}

.mypage.myhistory .right .history-list li .content-thumb {
  flex-shrink: 0;
}

.mypage.myhistory .right .history-list li .content-thumb img {
  width: 84px;
}

.mypage.myhistory .right .history-list li .text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  width: 100%;
}

.mypage.myhistory .right .history-list li .text .title {
  font-weight: 700;
}

.mypage.myhistory .right .history-list li .text dl {
  display: flex;
  align-items: center;
  gap: 2px;
  font-size: 1.4rem;
  color: rgb(var(--color-font-gray));
}

.mypage.myhistory .right .history-list li .text dl dt {
  width: 40px;
  font-weight: 600;
}

.mypage.myhistory .right .history-list li .text dl.long dt {
  width: auto;
  margin-right: 4px;
}

.mypage.myhistory .right .history-list li .text .status {
  font-weight: 600;
}

.mypage.myhistory .right .history-list li .text .status.green {
  color: #00a878;
}

.mypage.myhistory .right .history-list li .text .status.red {
  color: #ff936c;
}

.mypage.myhistory .right .history-list li .text .btn-noStyle {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 8px 6px;
  padding-left: 10px;
  border-radius: 100px;
  background-color: rgb(var(--color-white));
  border: 1px solid rgb(var(--color-border));
  font-size: 1.4rem;
}

.mypage.myhistory .right .history-list li .text .btn-noStyle img {
  transform: rotate(-90deg);
}
/** my history end **/

/** email us **/
.wrap:has(.mypage.email) {
  height: 100dvh;
}

.wrap:has(.mypage.email) :where(.mypage.email, .mypage.email .con, .con label:has(textarea), .con label textarea) {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mypage.email .con {
  gap: calc(var(--gap) * 2);
}

.mypage.email .con .btn-wrap .btn {
  width: 100%;
  max-width: 420px;
  margin: 0 auto;
}
/** email us end **/

/** settings **/
.mypage.settings .con .terms {
  display: flex;
  align-items: center;
  gap: 4px;
}

.mypage.settings .con .terms li {
  width: 100%;
}

.mypage.settings .con .terms li a {
  display: block;
  margin-bottom: 8px;
  padding: 15px;
  border-radius: 12px;
  background-color: rgb(var(--color-white));
  background-image: url(/public_html/resource/images/icn-link.svg);
  background-repeat: no-repeat;
  background-position: top 14px right 10px;
  box-shadow: 0px 4px 8px rgb(var(--color-shadow));
  line-height: 1.6;
}

.mypage.settings .con .settings-menu li {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-size: 1.8rem;
}

.mypage.settings .con .settings-menu li:last-child {
  border-top: 1px solid rgb(var(--color-border));
}

.mypage.settings .con .settings-menu .btn-noStyle {
  font-size: 1.8rem;
  font-weight: 400;
  color: #ff5656;
}

/*** settings - terms ***/
.mypage.terms * {
  line-height: 1.6;
}

.mypage.terms .short {
  margin: 18px 0;
}

.mypage.terms .short p.semi-title {
  font-weight: 700;
  font-size: 1.7rem;
}

.mypage.terms .short *:not(.semi-title, div, .no-pdn) {
  padding-left: 8px;
}

.mypage.terms b {
  font-weight: 600;
  line-height: 1;
}

.mypage.terms .text-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 6px 0;
}

.mypage.terms .text-list li {
  display: flex;
  gap: 3px;
  line-height: 1.4;
}

.mypage.terms .text-list li::before {
  content: "";
  flex-shrink: 0;
  width: 4px;
  height: 4px;
  margin-top: 9px;
  border-radius: 2px;
  background-color: rgb(var(--color-font));
}
/*** settings - terms end ***/
/** settings end **/

/** suport **/
.mypage.support .tab-contents {
  margin-top: 24px;
}

.mypage.support .tab-contents > ul {
  margin-bottom: 8px;
}

.mypage.support .tab-contents > ul > li {
  margin-bottom: 8px;
  padding: 10px;
  border-radius: var(--radius);
  background-color: rgb(var(--color-white));
  box-shadow: 0px 4px 8px rgb(var(--color-font) / 0.1);
}

.mypage.support .tab-contents > ul > li .btn-noStyle {
  width: 100%;
  text-align: left;
}

.mypage.support .tab-contents > ul > li .btn-noStyle div {
  width: 100%;
}

.mypage.support .tab-contents > ul > li .btn-noStyle div .tag {
  margin-bottom: 4px;
  font-size: 1.4rem;
}

.mypage.support .tab-contents > ul.suport-program > li .btn-noStyle div .tag {
  color: #31b557;
}

.mypage.support .tab-contents > ul.suport-book > li .btn-noStyle div .tag {
  color: #b35edb;
}

.mypage.support .tab-contents > ul.suport-level > li .btn-noStyle div .tag {
  color: #ffa959;
}

.mypage.support .tab-contents > ul.suport-viewer > li .btn-noStyle div .tag {
  color: #36d6fa;
}

.mypage.support .tab-contents > ul > li .btn-noStyle img {
  transition-property: transform;
  transition-duration: var(--duration);
  transform: rotate(180deg);
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  padding: 4px;
  border-radius: 100px;
  background-color: rgb(var(--color-font));
  box-sizing: content-box;
}

.mypage.support .tab-contents > ul > li.act .btn-noStyle img {
  transform: rotate(0);
}

.mypage.support .tab-contents > ul > li .box {
  transition-property: height, padding-top, padding-right, padding-bottom, padding-left;
  transition-duration: var(--duration);
  padding: 0;
  height: 0;
  margin-top: 12px;
  border-radius: 8px;
  background-color: rgb(var(--color-gray));
  overflow: hidden;
}

.mypage.support .tab-contents > ul > li.act .box {
  height: auto;
  padding: 8px;
  line-height: 1.4;
}
/** suport end **/
/* my page end */

/* first Login */
.firstLogin {
  padding-top: 36px;
}

.firstLogin h2 {
  margin-bottom: 12px;
  font-size: 2.8rem;
}

.firstLogin h2 span {
  font-size: 1.8rem;
  font-weight: 500;
}

.firstLogin .box {
  margin-bottom: 24px;
  padding: 4px;
  border-radius: var(--radius);
  background-color: rgb(var(--color-white));
  box-shadow: 0px 2px 6px rgb(var(--color-shadow));
}

.firstLogin .box:last-child {
  margin-bottom: 0;
}

.firstLogin .box .column-title {
  gap: 4px;
  margin-bottom: 8px;
  color: #ff7878;
  font-weight: 600;
}

.firstLogin .box label:not(:last-child) {
  margin-bottom: 12px;
}

.firstLogin .btn:not(.btn-noStyle),
.testing .inner .btn:not(.btn-noStyle) {
  width: auto;
  margin-left: auto;
  padding-left: 24px;
  padding-right: 18px;
  font-size: 2rem;
  box-shadow: 0px 6px 10px rgb(var(--color-shadow));
}
/* first Login end */

/* level up test */
.wrap:has(.levelTest) {
  height: 100dvh;
  padding: 0;
  background-image: url(/public_html/resource/images/img-levelTest+BG.png);
  background-position: center bottom;
  background-size: 100%;
}

.wrap:has(.testing) {
  background-image: inherit;
}

.levelTest {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.levelTest nav.nav-top {
  background-color: transparent;
}

.levelTest .inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.levelTest .inner h2 img {
  width: 100%;
  height: 227px;
  margin-bottom: 12px;
}

.levelTest .inner h2 p {
  font-size: 3.6rem;
}

.levelTest .inner .btn {
  margin-top: auto;
  max-width: 420px;
  width: 100%;
  font-size: 2rem;
}

.levelTest.testing .indicator {
  justify-content: space-between;
  margin-bottom: 24px;
  padding-bottom: 18px;
  border-bottom: 1px solid rgb(var(--color-border));
}

.levelTest.testing .indicator .flex {
  gap: 4px;
  width: auto;
  color: #4e68de;
  font-size: 2rem;
}

.levelTest.testing .indicator .question-length p:last-child {
  display: flex;
  align-items: center;
  gap: 4px;
}

.levelTest.testing .indicator .question-length p:last-child::before {
  content: "";
  width: 24px;
  height: 1px;
  background-color: rgb(var(--color-main));
}

.levelTest.testing .box {
  width: 100%;
  text-align: center;
}

.levelTest.testing .box .epilogue {
  font-size: 2rem;
  font-weight: 500;
  color: rgb(var(--color-font-gray));
}

.levelTest.testing .box .btn-wrap {
  justify-content: center;
  padding: 20px 0;
}

.levelTest.testing .box .btn-wrap .btn-white {
  gap: 4px;
  width: auto;
  padding: 10px 20px;
  color: rgb(var(--color-font));
  box-shadow: 0px 6px 10px rgb(var(--color-shadow));
}

.levelTest.testing .box > img {
  max-width: 200px;
  margin: 0 auto;
  margin-top: 24px;
  border-radius: var(--radius);
}

.levelTest.testing .choice-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 18px;
  padding-top: 18px;
  border-top: 1px solid rgb(var(--color-border));
}

.levelTest.testing .choice-wrap .choice {
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.levelTest.testing .choice-wrap .choice li {
  position: relative;
  width: calc((100% - 10px) / 2);
  max-width: 160px;
  aspect-ratio: 1 / 1;
}

.levelTest.testing .choice-wrap:not(:has(span)) .choice li::before {
  content: "";
  position: absolute;
  top: -12px;
  left: -12px;
  border-radius: 100px;
  width: 32px;
  height: 32px;
  border: 1px solid rgb(var(--color-border));
  background-color: rgb(var(--color-white));
  text-align: center;
  align-content: center;
  font-size: 1.4rem;
}

.levelTest.testing .choice-wrap .choice li:has(input:checked)::before {
  background-color: rgb(var(--color-main));
  color: rgb(var(--color-white));
  border: 1px solid rgb(var(--color-main));
}

.levelTest.testing .choice-wrap:not(:has(span)) .choice li:nth-child(1):before {
  content: "a";
}

.levelTest.testing .choice-wrap:not(:has(span)) .choice li:nth-child(2):before {
  content: "b";
}

.levelTest.testing .choice-wrap:not(:has(span)) .choice li:nth-child(3):before {
  content: "c";
}

.levelTest.testing .choice-wrap:not(:has(span)) .choice li:nth-child(4):before {
  content: "d";
}

.levelTest.testing .choice-wrap .choice li label {
  transition-property: border-color, box-shadow;
  transition-duration: var(--duration);
  width: 100%;
  height: 100%;
  border-radius: var(--radius);
  border: 1px solid transparent;
  overflow: hidden;
}

.levelTest.testing .choice-wrap .choice li label:has(input:checked) {
  border: 1px solid rgb(var(--color-main));
  box-shadow: 0px 0px 6px rgb(var(--color-main) / 0.4);
}

.levelTest.testing .choice-wrap .choice li div img {
  width: 100%;
}

/** 4 text choice **/
.levelTest.testing .choice-wrap:has(span) {
  align-items: flex-start;
  width: 100%;
}

.levelTest.testing .choice-wrap:has(span) .choice {
  width: 100%;
  flex-direction: column;
  gap: 12px;
}

.levelTest.testing .choice-wrap:has(span) .choice li {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  width: 100%;
  max-width: inherit;
  aspect-ratio: inherit;
}

.levelTest.testing .choice-wrap:has(span) .choice li .btn {
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  margin: 0;
  border-radius: 100px;
  box-shadow: 0px 6px 10px rgb(var(--color-shadow));
}

.levelTest.testing .choice-wrap:has(span) .choice li label {
  min-height: 48px;
  align-content: center;
  overflow: inherit;
}

.levelTest.testing .choice-wrap:has(span) .choice li label span {
  margin: 0;
  padding: 0;
  font-size: 2rem;
  color: rgb(var(--color-font));
  transition-property: none;
}

.levelTest.testing .choice-wrap:has(span) .choice li label:has(input:checked) {
  border: 1px solid transparent;
  box-shadow: none;
}

.levelTest.testing .choice-wrap:has(span) .choice li label:has(input:checked) span {
  color: rgb(var(--color-main));
  font-weight: 600;
}
/** 4 text choice end **/

.levelTest.levelUP {
  background-image: url(/public_html/resource/images/img-levelUP-BG.png);
  background-position: center bottom;
  background-size: cover;
}

.levelTest.levelUP .inner > .box {
  width: 100%;
  padding: 15px;
  border-radius: var(--radius);
  background-color: rgb(var(--color-white));
  text-align: center;
}

.levelTest.levelUP .inner h2 > img {
  max-width: 330px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 12px;
}

.levelTest.levelUP .inner h2 p {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(var(--color-border));
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.6;
}

.levelTest.levelUP .inner h2 .level-badge {
  display: inline-flex;
  align-items: center;
  column-gap: 6px;
  padding: 4px 10px;
  border-radius: 100px;
  background-color: #e2edff;
  font-size: 0.85em;
  vertical-align: middle;
  white-space: nowrap;
}

.levelTest.levelUP .inner > .box .text .flex {
  gap: 4px;
  justify-content: center;
  margin-bottom: 10px;
  font-size: 1.8rem;
  font-weight: 600;
}

.levelTest.levelUP .inner > .box .text ul {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  width: auto;
}

.levelTest.levelUP .inner > .box .text ul li {
  position: relative;
  width: auto;
  padding-left: 8px;
}

.levelTest.levelUP .inner > .box .text ul li::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 0;
  width: 4px;
  height: 4px;
  border-radius: 100px;
  background-color: rgb(var(--color-font));
}

.levelTest.levelUP.result {
  height: auto;
  min-height: 100%;
}

.levelTest.result > .inner {
  flex-grow: 1;
  height: auto;
  row-gap: 10px;
}

.levelTest.levelUP.result .inner > .box {
  text-align: left;
  box-shadow: 0px 10px 20px rgb(var(--color-font) / 0.2);
}

.levelTest.result .student-info {
  justify-content: space-between;
  align-items: flex-start;
}

.levelTest.result .result-title {
  display: flex;
  align-items: center;
  column-gap: 5px;
  margin-bottom: 4px;
  color: #913be7;
  font-size: 1.6rem;
  font-weight: 400;
}

.levelTest.result .result-title::before {
  content: "";
  flex-shrink: 0;
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: currentColor;
}

.levelTest.result .box dt {
  margin-bottom: 2px;
  color: rgb(var(--color-font-gray));
  font-size: 1.6rem;
}

.levelTest.result .box dd {
  font-weight: 600;
  font-size: 2rem;
}

.levelTest.result .box dd + dt {
  margin-top: 10px;
}

.levelTest.result .student-info .mylevel-number {
  flex-shrink: 0;
  width: 78px;
  height: 84px;
  background-image: url(/public_html/resource/images/icn-level3-8.svg);
  background-position: center;
  font-size: 3.6rem;
}

.levelTest.result .score strong {
  font-size: 5.4rem;
  font-weight: 700;
}

.levelTest.result .score span {
  font-weight: 400;
}

.levelTest.result > .inner > .btn-wrap {
  margin-top: auto;
  padding-top: 24px;
  justify-content: center;
}

.levelTest.result > .inner > .btn-wrap .btn {
  padding: 24px;
  font-size: 2.4rem;
  font-weight: 600;
}

/* level up test end */

/* reward */
.reward-info > p {
  margin-bottom: 10px;
  text-align: center;
  line-height: 1.4;
}

.reward-info .box {
  margin-bottom: 20px;
  padding: 12px;
  border-radius: var(--radius);
  background-color: rgb(var(--color-gray));
}

.reward-info .flex {
  gap: 6px;
}

.reward-info .flex + .flex {
  margin-top: 10px;
}

.reward-info .flex img {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
}

.reward-info .flex p {
  font-size: 1.4rem;
  line-height: 1.3;
}

.reward .tab-wrap {
  margin-bottom: 12px;
}

.reward .badge-list {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  gap: 6px;
}

.reward .badge-list > .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 4px 4px;
  border-radius: var(--radius);
  background-color: rgb(var(--color-white));
  box-shadow: 0px 6px 10px rgb(var(--color-shadow));
  opacity: 0.4;
}

.reward .badge-list > .box.act {
  opacity: 1;
}
.reward .badge-list .title {
  margin-bottom: 12px;
  font-size: 1.4rem;
  font-weight: 400;
  text-align: center;
}

.reward .badge-list .badge-img {
  width: 84px;
  aspect-ratio: 1/1;
}

.reward .badge-list .book-off + .badge-img,
.reward .badge-list .act .book-off {
  display: none;
}

.reward .badge-list .act .book-off + .badge-img {
  display: block;
}

.reward .badge-list .btn-wrap {
  justify-content: space-between;
  margin-top: auto;
}

.reward .badge-list .btn {
  width: 42px;
  height: 42px;
  border-radius: 100px;
  background-color: rgb(var(--color-white));
  box-shadow: 0px 4px 8px rgb(var(--color-shadow));
  pointer-events: none;
}

.reward .badge-list .act .btn {
  pointer-events: auto;
}

.reward .badge-list .btn img {
  width: 32px;
  height: 32px;
}

.reward .badge-list > .box:not(:has(.btn-wrap)) {
  padding: 12px;
}

.reward .tab-contents > div:last-child .badge-list {
  display: flex;
  flex-direction: column;
}

.reward .tab-contents > div:last-child .badge-list li {
  opacity: 1;
}

.reward .tab-contents > div:last-child .badge-list li {
  display: block;
}

.reward .tab-contents > div:last-child .badge-list li a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  pointer-events: none;
}

.reward .tab-contents > div:last-child .badge-list li a .badge-img {
  opacity: 0.4;
}

.reward .tab-contents > div:last-child .badge-list li a .badge-name {
  margin-bottom: 4px;
  font-size: 1.6rem;
  font-weight: 700;
}

.reward .tab-contents > div:last-child .badge-list li a .detailList {
  gap: 0;
}

.reward .tab-contents > div:last-child .badge-list li a .detailList .badge-wrap {
  position: relative;
  display: flex;
  align-items: center;
  opacity: 0.4;
}

/*- when Achievement Skill's badge has act -*/
.reward .tab-contents > div:last-child .badge-list li a .detailList .badge-wrap.act,
.reward .tab-contents > div:last-child .badge-list li a:has(.detailList .badge-wrap:last-child.act) .badge-img {
  opacity: 1;
}

.reward .tab-contents > div:last-child .badge-list li a:has(.detailList .badge-wrap:last-child.act) {
  pointer-events: inherit;
}
/*- when Achievement Skill's badge has act end -*/

.reward .tab-contents > div:last-child .badge-list li a .detailList .badge-wrap:not(:last-child)::after {
  content: "";
  display: block;

  width: 100%;
  max-width: 52px;
  min-width: 32px;
  height: 4px;

  background: radial-gradient(circle, #8c3cf0 0 2px, transparent 2px);

  background-size: 8px 4px;
  background-repeat: repeat-x;
}

.reward .tab-contents > div:last-child .badge-list li a .detailList .badge-wrap img {
  width: 42px;
  height: 42px;
}

.reward .tab-contents > div:last-child .badge-list li > a > img:last-child {
  margin-left: auto;
  padding: 5px;
  border-radius: 100px;
  background-color: rgb(var(--color-main));
}
.wrap:has(.reward.newChara) {
  background-color: #eef0ff;
  background-image: url("/public_html/resource/images/reward/img-charaUnlock+patton.svg");
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}

.wrap:has(.reward.newChara).lv1_2 {
  background-color: #fff0f5;
}

.wrap:has(.reward.newChara).lv3_8 {
  background-color: #f4eaff;
}

.wrap:has(.reward.newChara).lv9_14 {
  background-color: #fff0df;
}

.wrap:has(.reward.newChara).lv15_20 {
  background-color: #e8f8ef;
}

.wrap:has(.reward.newChara).lv21_26 {
  background-color: #e7f6ff;
}

.wrap:has(.reward.newChara).lv27_30 {
  background-color: #fff9dc;
}

.reward.newChara .con {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100dvh - 120px - env(safe-area-inset-bottom));
  padding-top: 24px;
}

.reward.newChara .title {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 180px;
  min-height: 0;
  width: 100%;
  margin-bottom: 32px;
}

.reward.newChara .title img {
  max-height: 180px;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.reward.newChara .flip-card {
  position: relative;
  flex-shrink: 0;
  width: 100%;
  max-width: 420px;
  perspective: 1000px;

  animation-name: ghost;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes ghost {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.reward.newChara .flip-inner {
  display: grid;
  transform-origin: 30% center;
  transform-style: preserve-3d;
}

.reward.newChara .flip-card.turned .flip-inner {
  animation-name: rewardFlipFront;
  animation-duration: 0.85s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}

.reward.newChara .flip-card.flipped .flip-inner {
  animation-name: rewardFlipBack;
}

@keyframes rewardFlipBack {
  0% {
    transform: translateX(0) rotateY(0deg) rotateZ(0deg) skewY(0deg) scale(1, 1);
  }
  25% {
    transform: translateX(-3%) rotateY(30deg) rotateZ(-3deg) skewY(-5deg) scale(0.97, 1.04);
  }
  55% {
    transform: translateX(14%) rotateY(110deg) rotateZ(3deg) skewY(6deg) scale(1.03, 0.96);
  }
  80% {
    transform: translateX(42%) rotateY(188deg) rotateZ(-2deg) skewY(-2deg) scale(1, 1.02);
  }
  100% {
    transform: translateX(40%) rotateY(180deg) rotateZ(0deg) skewY(0deg) scale(1, 1);
  }
}

@keyframes rewardFlipFront {
  0% {
    transform: translateX(40%) rotateY(180deg) rotateZ(0deg) skewY(0deg) scale(1, 1);
  }
  25% {
    transform: translateX(43%) rotateY(150deg) rotateZ(3deg) skewY(5deg) scale(0.97, 1.04);
  }
  55% {
    transform: translateX(14%) rotateY(70deg) rotateZ(-3deg) skewY(-6deg) scale(1.03, 0.96);
  }
  80% {
    transform: translateX(-2%) rotateY(-8deg) rotateZ(2deg) skewY(2deg) scale(1, 1.02);
  }
  100% {
    transform: translateX(0) rotateY(0deg) rotateZ(0deg) skewY(0deg) scale(1, 1);
  }
}

.reward.newChara .flip-card .box {
  grid-column: 1;
  grid-row: 1;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  box-shadow: 0px 10px 20px rgb( var(--color-main) / 0.6 );
}

.reward.newChara .card-back {
  transform: rotateY(180deg);
}

.reward.newChara .box {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 420px;
  padding: 24px;
  border: 1px solid rgb(var(--color-white));
  border-radius: var(--radius);
  background-color: rgb(var(--color-white) / 0.8);
  backdrop-filter: blur(3px);
}

.reward.newChara .chara-img {
  width: 100%;
  height: 240px;
  margin-bottom: 12px;
}

.reward.newChara .box p {
  font-size: 1.6rem;
  line-height: 1;
}

.reward.newChara .chara-name {
  font-size: 2.4rem;
  font-weight: 800;
}

.reward.newChara .box .caption {
  padding: 16px 0;
  font-size: 1.4rem;
  color: rgb(var(--color-font-gray));
}

.reward.newChara .btn-wrap {
  flex-shrink: 0;
  justify-content: center;
  margin-top: 32px;
}

.reward.newChara .btn-wrap .btn {
  width: 100%;
  max-width: 320px;
  padding: 20px;
  font-size: 2rem;
}

.reward.newChara .flip-card .tap-info{
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 1.8rem;
  
  opacity: 0;
  transition: 0.2s;
}

.reward.newChara .flip-card .tap-info.act {
  opacity: 1;
}

.reward.newChara .flip-card .tap-info img{
  width: 64px;
  height: 64px;
  animation-name: rewardTap;
  animation-duration: 1.6s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes rewardTap {
  0%,
  40%,
  100% {
    transform: translateY(0) scale(1);
  }
  10%,
  30% {
    transform: translateY(5px) scale(0.9);
  }
  20% {
    transform: translateY(0) scale(1);
  }
}
/* reward end */
